project         = "climate-analytics"
billing_account = "my-billing-account"
owner_email     = "my-email@domain.com"
region = "europe-west2"
repos = [
  "ncei-wind"
]
topics = [
  "ncei-wind"
]
subscriptions = [
  "ncei-wind"
]
dataset = "ncei"
tables = [
  "wind"
]
