project         = "climate-analytics"
billing_account = "my-billing-account"
owner_email     = "my-email@domain.com"
region          = "europe-west2"
app_repos = [
  "ingest-ncei-wind"
]
ml_repos = [
  "ml-iris"
]
topics = [
  "ncei-wind"
]
subscriptions = [
  "ncei-wind"
]
datasets = [
  "ncei"
]
ml_models_bucket = "ml-models-bucket"
ml_articles_bucket = "ml-articles-bucket"
